<a href="https://colab.research.google.com/github/20A31A0527/Training_1/blob/main/DAY_2_Looping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOOPING STATEMENTS:ITERATION**
1.WHILE
2.FOR
3.WHILE ELSE
4.FOR ELSE
5.BREAK
6.CONTINUE
7.PASS

**3 golden rules **
1.Initialization
2.condition checking
3.incre/decre

In [ ]:
#printing numbers using while
# end= " "- for getting values side by side
num=int(input("Enter number :"))
i=0             #INITIALIZING
while(i<=num):  #CONDITION CHECKING
  print(i)
  i=i+1         #INCREMENTING

Enter number :5
0
1
2
3
4
5

In [ ]:
#write a program to calculate the sum of n numbers
n=int(input("Enter number:"))
sum=0
i=0
while(i<=n):
  sum=sum+i
  i=i+1
print(sum)

Enter number:5
15

In [ ]:
#write a program to add all the digits in a number
num=int(input("Enter a number:"))
sum=0
while(num!=0):
  rem=num%10
  sum=sum+rem
  num=num//10
print("Sum of the digits is:",sum)

Enter a number:125
Sum of the digits is: 8

In [ ]:
#write a program to print all even numbers until 10
num=int(input("Enter number:"))
i=0
while (i<=num):
  if i%2==0:
    print(i)
  i=i+1

Enter number:10
0
2
4
6
8
10

In [ ]:
#write a program to print sum of even numbers until 10
num=int(input("Enter number:"))
i=0
sum=0
while (i<=num):
  if i%2==0:
    sum=sum+i
  i=i+1
print("Sum of even numbers until 10=",sum)

Enter number:10
Sum of even numbers until 10= 30

In [ ]:
# write a program to calculate number of even numbers sum and number of odd numbers sum in a range
n=int(input("Enter range:"))
even_sum=0
odd_sum=0
i=0
while(i<=n):
  if i%2==0:
    even_sum=even_sum+i
  else:
    odd_sum=odd_sum+i
  i=i+1
print("Even_sum:",even_sum)
print("Odd_sum:",odd_sum)

Enter range:10
Even_sum: 30
Odd_sum: 25

In [ ]:
#write a program to reverse a number
num=int(input("Enter a number:"))
temp=0
while(num>0):
  temp=num%10
  print(temp,end=" ")
  num=num//10

Enter a number:258
8 5 2

In [ ]:
#write a program to print decimal to binary number
dn=int(input("Enter a number:"))
bn=0
i=0
while (dn!=0):
  r=dn%2
  bn=bn + r*(10**i)
  dn=dn//2
  i+=1
print(bn)

Enter a number:5
101

In [ ]:
#write a program to print binary to decimal number
bnum=int(input("Enter binary number:"))
dnum = 0
i = 1
while bnum!=0:
    rem = bnum%10
    dnum = dnum + (rem*i)
    i = i*2
    bnum = int(bnum/10)

print("\nEquivalent Decimal Value = ", dnum)

Enter binary number:100

Equivalent Decimal Value =  4

In [ ]:
#RANGE WITH ONE PARAMETER(START,N-1)
#RANGE WITH TWO PARAMETERS(START,END,DIFFERENCE)
for i in range(11):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
#write a program to calculate the total of n natural numbers and find its average------n=10
n=int(input("Enter size of Natural Numbers:"))
sum=0
i=0
for i in range(1,11):
  sum=sum+i/n
  i=i+1
print(sum)

Enter size of Natural Numbers:10
5.5

In [ ]:
#program for Math tables
n=int(input("Enter a number:"))
print("MULTIPLICATION TABLE OF",n)
print("--------------------------")
for i in range(1,11):
  print(n," X",i,"=",n*i)

Enter a number:5
MULTIPLICATION TABLE OF 5
--------------------------
5  X 1 = 5
5  X 2 = 10
5  X 3 = 15
5  X 4 = 20
5  X 5 = 25
5  X 6 = 30
5  X 7 = 35
5  X 8 = 40
5  X 9 = 45
5  X 10 = 50

In [ ]:
#write a program to calculate the factorial of a given number
n=int(input("Enter a number:"))
fact=1
for i in range(1,(n+1)):
  fact=fact*i
print("Factorial is : ",fact)

Enter a number:5
Factorial is :  120

In [ ]:
#Program to print sum series
n=int(input())
sum=0.0
for i in range(1,n+1):
  s=1.0/i
  sum=sum+s
print(sum)

2
1.5

In [ ]:
#program to print series sum for 1/2+2/3+3/4+......n/n+1
n=int(input())
sum=0.0
for i in range(1,n+1):
  formula=i/i+1
  sum=sum+formula
  print(sum)

2
2.0
4.0

In [ ]:
#write a program to find the difference between odd index and even idex values for a number 1227
n=int(input("Enter a number:"))
even=0
odd=0
while(n!=0):
  r=n%10
  if r%2==0:
    even=even + r
    n=n//10
  else:
    odd=odd + r
    n=n//10
print(even)
print(odd)
abs=(odd-even)
print(abs,"is the difference")

Enter a number:1227
4
8
4 is the difference

In [ ]:
#Given a maximum of four digit to the bases 17(10-A,11-B,12-C,13-D.......16-G) as input and output its decimal value
n=str(input())
print(int(n,17))

1A
27

In [ ]:
var=[20,21,22,23,24,25]
for i in var:
  if i==23:
    break
  print(i)

20
21
22

In [ ]:
#using pass
for letter in "Sri":
  pass
  print("pass:",letter)

pass: S
pass: r
pass: i

In [ ]:
#Calendar Problem
import calendar
n=int(input("Enter the year:"))
m=1
cal=calendar.TextCalendar(calendar.SUNDAY)
i=1
while i<=12:
  cal.prmonth(n,i)
  i=i+1

Enter the year:2023
    January 2023
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
   February 2023
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28
     March 2023
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
     April 2023
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30
      May 2023
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31
     June 2023
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30
     July 2023
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31
    August 2023
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
   September 2023
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
    October 2023
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
   November 2023
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30
   December 2023
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31