<a href="https://colab.research.google.com/github/20A31A0527/Training_1/blob/main/Day_5_Set%2C_Dictionaries_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
set={1,2,3,4,5,1,2,3,4,5}
print(set)
print(type(set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
set="123"
n=int(set)
print(n)

123

In [ ]:
dic={ 
     "key1":"Hi",
     "key2":"Hello",
     "Key3":"Hola"}
print(dic)

{'key1': 'Hi', 'key2': 'Hello', 'Key3': 'Hola'}

In [ ]:
#update is a method to add new key value pairs in dictionary
dic={}
dic.update({
     "key1":"Hi",
     "key2":"Hello",
     "key3":"Hola"
})
print(dic)
print(dic["key1"])
print(dic["key2"])
print(dic['key3'])
print(dic.keys())       #gives the keys in a dict
print(dic.values())     #gives the values in a dict
print(dic.items())      #gives the key value pairs in a dict
dic['key3']="Hoi"
print("New dictionary:",dic)

{'key1': 'Hi', 'key2': 'Hello', 'key3': 'Hola'}
Hi
Hello
Hola
dict_keys(['key1', 'key2', 'key3'])
dict_values(['Hi', 'Hello', 'Hola'])
dict_items([('key1', 'Hi'), ('key2', 'Hello'), ('key3', 'Hola')])
New dictionary: {'key1': 'Hi', 'key2': 'Hello', 'key3': 'Hoi'}

In [ ]:
dic={}
dic.update({
     0:"Hi",
     1:"Hello",
     2:"Hola"
})
print(dic)
print(dic[0])

{0: 'Hi', 1: 'Hello', 2: 'Hola'}
Hi

##FUNCTIONS

In [ ]:
#FUNCTIONS ------------------------->REGULAR FUNCTIONS
def fun_name(num1,num2):   #   ()--->arguments
  print("Answer ",num1+num2)
fun_name(10,20)

Answer  30

In [ ]:
def fun_name(num1,num2,op):
  if op=="+":
    print(num1+num2)
  elif op=="-":
    print(num1-num2)
  elif op=="*":
    print(num1*num2)
fun_name(10,20,"*")

200

In [ ]:
#Find the sum of an array using functions
def fun(arr):
  sum=0
  for i in range(len(arr)):
    sum=sum+arr[i]
  print(sum)
arr=[21,23,34]
fun(arr)

78

##TYPES OF FUNCTIONS

* Regular functions
* default value functions
* keyword argument functions
* variable length functions

In [ ]:
#DEFAULT VALUE FUNCTIONS
def hello(a,b,c=0):
  print(a)
  print(b)
  print(c)
hello(10,20)
hello(10,20,30)           #------>takes the value other than default

10
20
0
10
20
30

In [ ]:
#KEYWORD ARGUMENT ----->it species the order we give,doesnt follow the argument order
def hell0(a,b,c):
  print(a)
  print(b)
  print(c)
hello(b=10,c=20,a=30)

30
10
20

In [ ]:
#VARIABLE LENGTH   ------> '*' returns the values u given
def hello(*variable):
  print(variable)
hello(10,20)
hello(10,20,30)
hello(10,2,4,5,6)
hello()

(10, 20)
(10, 20, 30)
(10, 2, 4, 5, 6)
()