<a href="https://colab.research.google.com/github/20A31A0527/Training_1/blob/main/DAY_4_Strings_and_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#abcderian series
str1='GHIJKL'
str2='ate'
for i in str1:
  print((i+str2),end=" ")

Gate Hate Iate Jate Kate Late

In [ ]:
#WRITE A PROGRAM TO EVALUATE LIST OF A CUBES TILL THE RANGE OF 10
cubes=[]
for i in range(11):
  cubes.append(i**3)
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#WRITE A PROGRAM TO FIND THE SUM AND MEAN OF SERIES 0 TO 10
list=[]
sum=0
mean=0
for i in range(11):
  sum=sum+i
print(sum)
mean=sum/10
print(mean)

55
5.5

In [ ]:
#PREDEFINED FUNCTIONS OF LIST
l=[11,34,2,3,56]
print(max(l))
print(min(l))
#sum

56
2

In [ ]:
#all,any,list,sort
num=[12,34,2,0,45,2]
print(sorted(num))
num.append(21)        #appends new value at the end of the list
print(num)
print(sorted(num))    #sorts the list in ascending order
print(num.count(2))   #gives the occurence count of a number in a list
num.insert(2,56)      #inserts new value at the index given
print(num)
num.remove(2))

[0, 2, 2, 12, 34, 45]
[12, 34, 2, 0, 45, 2, 21]
[0, 2, 2, 12, 21, 34, 45]
2
[12, 34, 56, 2, 0, 45, 2, 21]
None

In [ ]:
num=[12,34,2,0,45,2]
num.insert(2,56)      #inserts new value at the index given
print(num)
num.remove(34)         #removes the given value
print(num)

[12, 34, 56, 2, 0, 45, 2]
[12, 56, 2, 0, 45, 2]

In [ ]:
#TOWER OF HANOI
def hanoi(n,a,b,c):
  if n>0:
    hanoi(n-1,a,c,b)
    if a:
      c.append(a.pop())
    hanoi(n-1,b,a,c)
a=[1,2,3,4]
b=[]
c=[]
hanoi(len(a),a,b,c)
print(a,b,c)

[] [] [1, 2, 3, 4]

In [ ]:
#OPERATORS OF LIST
#in
#not in
#repetition
#concatenation
str=[11,21,34,56,78,90]
print(len(str))                            #prints number of elements in a list
print(sum(str))                            #prints sum of elements in a list

6
290

In [ ]:
num=[32,23,5,7,2]
num.reverse()
print(num)
num.sort()                      #sort is used in list whereas sorted() is used in Strings
print(num)

[2, 7, 5, 23, 32]
[2, 5, 7, 23, 32]

In [ ]:
a=['1','abc','H','def']       
a.sort()
print(a)          #prints according to ASCII values

['1', 'H', 'abc', 'def']

In [ ]:
text=['p','r','o','g','r','a','m']
text[2:5]=[]
print(text)

['p', 'r', 'a', 'm']

In [ ]:
#WRITE A PROGRAM TO COMBINE A LIST OF CUBES FOR GIVEN NUMBER IN TWO LINES
cubes=[i**3 for i in range(11)] 
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#
list=[1,2,3,4]
index=0
for i in list:
  print("Index [",index, "]=",i)
  index=index+1

Index [ 0 ]= 1
Index [ 1 ]= 2
Index [ 2 ]= 3
Index [ 3 ]= 4

In [ ]:
#PROGRAM ON TIME ESTIMATION FOR A PARTICULAR DISTANCE
n=int(input())
if n==0:
  print("Time Estimated:0 Minutes")
elif n in range(1,2000):
  print("Time Estimated:25 Minutes")
elif n in range(2001,4000):
  print("Time Estimated:35 Minutes")
elif n in range(4001,7000):
  print("Time Estimated:45 Minutes")
else:
  print("Invalid output")

2500
Time Estimated:35 Minutes